<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/../static/CSS/signup.css">
  <title>Sign Up</title>
</head>
<body>
  {% block content %}
  <h2>Registrarse</h2>
  <div class ='container'>
  <form method="post" enctype="multipart/form-data" class="form-login">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrarse</button>
  </form>
{% endblock %}
</div>
</body>
</html>
