{% extends "home.html"%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% load crispy_forms_tags %}
{% block content %}
<section class="section-su">

        <div class="form-value">
          <form method="post">
          {% csrf_token %}
                <h2>Bienvenido</h2>
                <div class="inputboxsu">user:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.username }}
                </div>
                <div class="inputboxsu">email:<ion-icon name="mail-outline">User</ion-icon>
                {{ form.email }}
                </div>
                <div class="inputboxsu">Password:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.password }}
                </div>
                <div class="inputboxsu">Repetir password:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.password2 }}
                </div>
                <div class="inputboxsu">nombre:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.first_name }}
                </div>
                <div class="inputboxsu">apellido:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.last_name }}
                </div>
                <div class="inputboxsu">cuit:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.cuit }}
                </div>
                <div class="inputbox">interes:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.business_line_interes }}
                </div>
                <div class="inputboxsu">rubro de venta:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.business_line }}
                </div>
                <div class="inputboxsu">cuit:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.cuit }}
                </div>
                <div class="inputboxsu">vendes? :<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.is_seller }}
                </div>
                <div class="inputboxsu">state:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.state }}
                </div>
                <div class="inputboxsu">city:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.city }}
                </div>
                <div class="inputboxsu">pc:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.postal_code }}
                </div>
                <div class="inputboxsu">state:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.state }}
                </div>
                <div class="inputboxsu">telefono:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.phone_number }}
                </div>
                <div class="inputboxsu">avatar:<ion-icon name="lock-closed-outline"></ion-icon>
                  {{ form.avatar }}
                </div>

                <br>
                <button class="button" type="submit"> Ingresar</button>
                <div class="register">
                  <br>
                  <p class="text-center">No tenes cuenta? <a href="/signup/"> Create una aca!</a></p>
                </div>
                <div class="register" >
                    <a style="color: rgb(255, 255, 255); text-decoration:none" href="#" >Olvide
                        mi contraseña</a>
  
                </div>
            </form>
        </div>
    </div>
  </div>
  
  </section>
  
 
{% endblock content %}

{% comment %} 


<section>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">LOGIN</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <form method="post">
      {% csrf_token %}
      
      {{ login_form|crispy }}
      
      
      <button class="btn btn-primary" type="submit"> Ingresar</button>
    </form>
    <p class="text-center">No tenes cuenta? <a href="/signup/"> Create una aca!</a></p>
  </div>
</div>
</section> {% endcomment %}
