/********** elementos basicos CSS (empieza) **********/
html,
body {
  font-family: Roboto,
  sans-serif,
  arial;
  font-size: 14px;
  color: #242424;
  font-weight: 400;
  background-color: #010101;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(183,960,461)'%3E%3Cstop offset='0' stop-color='%23010101'/%3E%3Cstop offset='1' stop-color='%23FF0000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}




/* banner publicitario */
.slider {

  display: flex;
  background-color: #dadada;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  border: 1px solid #ffffff;
  /* Solo para visualizar el contenedor */
  margin-bottom: 100px;

}

.slider-content {
  max-width: 100%;
  max-height: 100%;
}

.slider img {
  max-width: 100%;
  max-height: 100%;
}


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0
}

.container {
  width: 1150px;
  margin: 0px auto;
  display: table;
}

.banner {
  display: grid;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
  float: left;
  background-color: #4d4949;
  box-shadow: #000000 10px 0px 10px;
}

.clearfix {
  clear: both
}

.width-50 {
  width: 50%;
  float: left;
}

.width-25 {
  width: 25%;
  float: left;
  padding: 20px;
}

.width-75 {
  width: 75%;
  float: left;
}

.width-80 {
  width: 80%;
  float: left;
}

.width-60 {
  width: 60%;
  float: left;
}

.width-40 {
  width: 40%;
  float: left;
}

.width-33 {
  width: 33%;
  float: left;
}

.width-30 {
  width: 30%;
  float: left;
}

.width-20 {
  width: 20%;
  float: left;

}

.main-section {
  width: 100%;
  float: left;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-grey {
  background: #f0f3fa;
}

.heading-section {
  font-size: 25px;
  text-align: center;
}

.heading-section span {
  color: #787eff;
}

.subhead-section {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

/********** elementos basicos CSS (termina) **********/

/************* Navbar empieza ************/

.ftl_menu {
  width: 100%;
  height: 50px;
  margin: 0px auto;
  margin-bottom: 50px;
  padding: 0px 180px;
  float: left;
  background: #050505;
  border-radius: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#navbar li,
#navbar li a {
  background: #000000;
  float: left;
  position: relative;
}

#navbar li,
#navbar li a,
.ftl_menu {
  position: relative;
}

#content-navbar {
  justify-content: center;
}

.options-navbar {
  justify-content: center;
}

#navbar li a,
#navbar ul li a {
  font-weight: 700;
  font-style: normal;
}

#navbar,
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative
}

#navbar {
  height: 45px;
  left: 0;
  overflow: hidden;
  top: 0
}

#navbar li {
  z-index: 10
}

#navbar li a {
  color: #ffffff;
  display: block;
  font-size: 13px;
  height: 45px;
  line-height: 40px;
  padding: 0 25px;
  text-decoration: none;
  z-index: 20
}

#navbar li:first-child a {
  padding-left: 35px
}

#navbar li ul li:first-child a {
  background-image: none;
  padding-left: 10px
}

#navbar li.pad {
  display: block;
  height: 45px;
  width: 35px
}

#navbar ul,
#navbar ul li {
  width: 180px
}

#navbar ul {
  height: auto;
  padding: 10px 2px;
  position: absolute;
  top: -120px;
  z-index: 1;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

#navbar ul li a {
  background: 0 0;
  line-height: 20px;
  width: 180px;
  font-size: 12px;
  padding: 3px 15px;
  height: auto !important
}

#navbar:hover {
  height: 350px;

}

#navbar li:hover ul {
  -moz-transform: translate(0, 161px);
  -o-transform: translate(0, 161px);
  -webkit-transform: translate(0, 161px);
}

#navbar a:hover,
#navbar li:hover>a {
  color: #8d8b8b;
}

/************* Navbar empieza ************/
/* ***************palabra superior deslizante empieza ****************/

.word-slide {
  white-space: nowrap; 
  overflow: hidden; 
}

.word-slide span {
  display: inline-block;
  animation: slideLeft 20s linear infinite;
  transform: translateX(100vw); 
  position: relative; 
}

@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%); 
  }
}
.container-word {
  width: 100%;

}
/* ***************palabra superior deslizante termina ****************/
/********** Header empieza  **********/
.top-header {
  background: #f13f31;
  padding: 8px 0px;
  border-bottom: 1px solid #3131315e;
}

.head1p1 {
  font-size: 12px;
  color: #ffffff;
  font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.head1ul {
  list-style: none;
  float: right;
}

.head1ul li {
  float: left;
  padding-left: 10px;
}

.head1ul li a {
  font-size: 12px;
  color: #ffffff;
  font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  text-decoration: none;
}

.head1ul li i {
  font-size: 15px;
  color: #ffffff;
}

/********** Header termina  **********/




/**********  Logo / Search Panel empieza  **********/
.search-panel {
  background: #f13f31;
  padding: 15px 0px;
}

.search-textbox {
  padding-left: 16px;
  height: 40px;
  width: 80%;
  border: 1px solid #636060;

  border-radius: 10px 0px 0px 10px;
  float: left;
}

.search-button {
  height: 42px;
  width: 55px;
  border-radius: 0px 10px 10px 0px;
  background: rgb(255, 255, 255);
  float: left;
}

.search-button i {
  color: #f13f31;
}

.cart-sect {
  list-style: none;
  float: right;
  margin-top: 8px;
}

.cart-sect li {
  float: left;
  padding: 0px 6px;
}

.cart-sect li a {
  font-size: 14px;
  color: #ffffff;
  font-family: "Helvetica Neue",
    "Helvetica",
    "Arial",
    "sans-serif";
  text-decoration: none;
}

.cart-sect li i {
  font-size: 14px;
  color: #ffffff;
}

/**********  Logo / Search Pannel termina  **********/




/**********  Main Menu empieza  **********/
.main-menu {
  list-style: none;
}

.main-menu a {
  font-weight: 500;
  color: #2b304a;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
    sans-serif,
    arial;
  text-decoration: none;
}

.main-menu li {
  float: left;
  padding: 12px 20px;
}

/**********  Main Menu termina  **********/

.logo-img{
  width: 200px;
  height: 100px;
  border: #2b304a 1px solid;
}



/**********  Product-Section empieza  **********/
.product-section {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-img {
  width: 100px;
  height: 100px;
  border: #2b304a 1px solid;
}

.product-img-center {
  text-align: center;
}

.product-border {
  border: 10px solid #d1d1d1;
  padding: 20px;
}
.product-card{
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.product-name a {
  color: #232b33;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto",
    "sans-serif",
    "arial";
}

.product-rating {
  color: #FFC315;
  font-size: 14px;
  padding-top: 6px;
}

.product-rating span {
  font-weight: 600;
  color: #3c3b3b8c;
  font-size: 12px;
  font-family: "Roboto",
    "sans-serif",
    "arial";
}

.product-discounted-price {
  color: #333;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-weight: 600;
  font-family: "Roboto",
    "sans-serif",
    "arial";
}

.product-original-price {
  color: #6f6f6f;
  text-decoration: line-through;
  font-size: 14px;
  font-family: "Helvetica Neue",
    "Helvetica",
    "Arial",
    "sans-serif";
}

.product-discount {
  border: 1px solid #ccc;
  background: #fff;
  display: inline-block;
  font-size: 10px;
  color: #999;
  padding: 5px;
  border-radius: 1px;
}

.product-price {
  margin-top: 15px;
}

/**********   Product-Section termina  **********/
/* **************** CAROUSEL EMPIEZA ******************** */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 100px;
}

.carousel {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  flex: 0 0 100%;
  /* Cada slide ocupa el 100% del ancho */
  padding: 10px;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(221, 215, 215, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  padding-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/* **************** CAROUSEL TERMINA ********************  */

/**********  Feature-Section empieza  **********/
.featured-content i {
  font-size: 37px;
  padding: 7px 0 0 10px;
  color: #eb372a;
}

.featured-content h4 {
  color: #e00000;
  font-size: 14px;
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Helvetica Neue",
    "Helvetica",
    "Arial",
    "sans-serif";
}

.featured-content p {
  font-size: 13px;
  color: #ffffff;
  font-family: "Helvetica Neue",
    "Helvetica",
    "Arial",
    "sans-serif";
}

.margin-top-8 {
  margin-top: 8px;
}

.featured-border {
  /* border: 1px solid #ffffff; */
  width: 100%;
  float: left;
  padding: 15px 0px;
}


/**********   Feature-Section termina  **********/






/**********  Footer-Section empieza  **********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  font-size: 18px;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  border-radius: 0px 10px 10px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.footer-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}


.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ion-icon {
  position: absolute;
  right: 8px;
  color: #ffffff;
  font-size: 1.5em;
  top: 20px;
}

/* ....................ionicon.................. */

.icon-button {
  background-color: #ccc;
  border: 1px;
  border-radius: 100px;
  border-color: rgb(7, 7, 7);
  padding: 10px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.5s ease;
}

.icon-button.selected {
  background-color: black;
  color: white;
}

ion-icon {
  font-size: 30px;
  /* Cambia el tamaño del icono */
  color: rgb(98, 98, 98);
  /* Cambia el color del icono */
  margin-right: 1px;
  /* Agrega un margen derecho al icono */
}

/* ....................fin ionicon.............. */
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .footer-menu {
    text-align: left;
  }

  .footer-menu li {
    display: block;
    margin-bottom: 10px;
  }
}

.attribute {
  position: absolute;
  bottom: 10px;
}

/**********   Footer-Section CSS Code Ends  **********/
/**********  Footer-bottom Section CSS Code Starts  **********/
.footer2-bacbor {
  background: #232f3e;
  padding: 10px 0px;
  border-top: 1px solid #898989;
}

.footer2-content {
  font-size: 14px;
  color: #fff;
  font-family: "Helvetica Neue",
    "Helvetica",
    "Arial",
    "sans-serif";
  text-align: center;
}

/**********   Footer-bottom Section CSS Code Ends  **********/


/* login sacado de otro html */
.form-container {
  padding-bottom: -50px;
}
.form-box {
  position: relative;
  top: -200px; /* Ajusta la altura deseada */
  width: 500px;
  height: 550px;
  background: #fffffff7;
  border: 5px solid rgba(16, 15, 15, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}


/* inputs usuario contraseña */
.inputbox {  
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 4px solid #141313;
  box-shadow: 0 0 20px #545454;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);  /* animacion al cargar la pagina */
  color: #ffffff;
  font-size: 1.21em;    /* animacion al clickear en el input*/
  pointer-events: none;
  transition: .8s;
}
/* animacion de subir el campo del input 5px hacia arriba */
input:focus~label,input:valid~label {
  top: -5px;
  transition: .5s;
}

.inputbox input {
  width: 100%;
  height: 50px;
  text-decoration-color: #000000;
  background:#6f6f6f;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
  border: #000000 1px solid;
  
}
/* iconos dentro del input */
.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #ffffff;
  font-size: 1.5em;
  top: 20px;
}
.containerII {
  position:fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}
section {    /* CONTENIDO del recuadro central de ingresar */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height: 20px;
  box-shadow: 10 2px 4px rgba(0, 0, 0, 0.1);
}
.button {
  background-color:  #ffffff;
  border: none;
  color: rgb(83, 81, 81);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: #000000 1px solid;
}


.chat-container{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border-bottom: 5px solid rgba(7, 7, 7, 0.07);
}

h3{
  color: #878787;
  font-weight: normal;
  font-size: 30px;
  font-family: Roboto,
  sans-serif,
  arial;

}