{% extends "home.html" %}

{% block content %}
<div class="cart">
    <h1>Tu carrito de compras</h1>
    <form action="{% url 'cart' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="clear_cart"><ion-icon name="trash-outline"></ion-icon></button>
    </form>
    
    {% for item in cart.cartitem_set.all %}
    <div class="cart-item">
    <p>Producto: {{ item.product }}</p>
    <img class="product-img" src="{{ item.product.imagen.url }}">
    <p>Cantidad: {{ item.quantity }}</p>
    <p>Total del producto: ${{ item.total_price }}</p>
    </div>
    {% endfor %}

    
    <h2>Total del carrito: $ {{ cart.total_price }}</h2>
    <br>
    <a href="?route=checkout" class="btn btn-primary">Pagar</a>
</div>

{% endblock %}
