{% extends "home.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class=" payment-card">
    
    {% comment %} {{form.as_p }} {% endcomment %}
    <form action ="" method ="post">
    {% for p in form %}
        {{ p |as_crispy_field}}
    {% endfor %}
    </form>
    <p>
        <button type="submit" class="btn btn-primary">Pagar carro</button>
    </p>
</div>

{% endblock %}
{% comment %} 
el a siempre va por GET, siempre usa el mismo contexto y tambien
siempre usa el mismo template, es por eso que no me conviene crear un nuevo controlador, es 
mejor reutilizar el cart view, poniendole que en el caso que me interese ir a checkout solo me cambie el template
{% endcomment %}