<html>
  <head>
    {% load static %}
    <title>Website Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/user.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/publication.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/payment.css' %}" type="text/css" />
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% load humanize %}
  </head>

  <body>
{% comment %} 
    <header>
      <div id="header">
        <div class="header-logo">
          <a href="indext.html"><img src="images/logo.png" alt="" /></a>
        </div>
        <div class="header-list">
          <nav class="header-list-nav">
            <ul>
              <li><a class="active" href="index.html">Home</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </nav>
          <div class="header-list-icon">
            <a href=""><i class="fa fa-bag-shopping"></i></a>
          </div>
        </div>
      </div>
    </header>   {% endcomment %}
    <!-- hecho solamente por picardia mia, queria ver como quedaba nada mas. -->
    <div class="width-100 top-header">
      <div class="container-word">

        <div class="word-slide">
          <span>HOY 25% DE DESCUENTO EN GUARDABARROS DE FALCON</span>
        </div>
      </div>
    </div>

    {% comment %} <!---------- TTERMINA TOPE DEL HADER --------->

    <!---------- EMPIEZA SEARCH PANEL ---------> {% endcomment %}
    <div class="width-100 search-panel">
      <div class="container">
        <div class="width-20">
          <img src="{% static 'img/logo_vale2.jpg' %}" class="logo-img"
            alt="[Logotipo]">
        </div>
        <div class="width-50">
          <input class="search-textbox" type="text"
            Placeholder="Busqueda por titulo o autor">
          <button class="search-button">
            <i aria-hidden="true"><ion-icon name="search-outline"></ion-icon>
            </i>
          </button>
        </div>
        <div class="width-30">

          <!-- seccion del carro -->

          <ul class="cart-sect">
            {% if user.is_authenticated %}
            <li>
              <a href="/user/">Perfil de {{ user.username |capfirst }}</a>
            </li>
            <li>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <a href="{%url 'cart'%}"> Carro (0)</a>
            </li>
            <li>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <a class="head1mr" href="#">Lista de deseos </a>
            </li>
            {% else %}
            <li>
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              <a href="/login/"> Iniciar sesion </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% comment %} <!---------- TERMINA SEARCH PANEL --------->

    <!---------- EMPIEZA NAVBAR ---------> {% endcomment %}
{% comment %} 
    <div class="ftl_menu">
      <div class="content-navbar">
        <ul id="navbar" class="options-navbar">
          <li>
            <a href="/web/">Pagina principal</a>
          </li>
          <li>
            <a href="#">Ofertas</a>
         </li>
          <li>
            <a href="#">Mas vendidos</a>
          </li>
          <li><a href="#">Categorias &nbsp;<i class="fa fa-caret-down"></i></a>
            <ul>
              <li><a href="#!"> Ferreteria</a></li>
              <li><a href="#!"> Almacen </a></li>
              <li><a href="#!"> Autopartes </a></li>
              <li><a href="#!"> Otros </a></li>
            </ul>
          </li>
          <li>
            <a href="{%url 'chat' %}">Mensajes</a>
          </li>
          <li>
            <a href="#">Vender</a>
          </li>
        </ul>
      </div>
    </div> {% endcomment %}
    {% comment %} --------------------------------- {% endcomment %}
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
            <a href="{% url 'logout' %}"><button type="button"class="icon-button"id="python-button" data-lang="python">
              <ion-icon name="home"><a href="/web/"></a></ion-icon></button></a>
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span><a href="{%url 'chat' %}"><i class="fa fa-envelope"></i> Mensajes</a></span>
          <span><a href="{%url 'chat' %}"><i class="fa fa-envelope"></i> Mensajes</a></span>
          <span><a href="{%url 'chat' %}"><i class="fa fa-envelope"></i> Mensajes</a></span>
        </label>
      </div>
      <div class="nav-links">
          {% if user.is_authenticated %}
          
            <a href="/user/"><i class="fas fa-user-circle" aria-hidden="true"></i>Perfil de {{ user.username |capfirst }}</a>
            <a href="{%url 'cart'%}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carro (0)</a>
            <a class="head1mr" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Lista de deseos </a>
            <a href="{%url 'chat' %}"><i class="fa fa-envelope"></i> Mensajes</a>
          {% else %}
          
            
            <a href="/login/"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Iniciar sesion </a>
          
          {% endif %}
      </div>
  </div>
    <!---------- TERMINA NAVBAR --------->
    

    {% block content %}

    {% endblock content %}

    <!---------- TERMINA SECCION DE PRODUCTOS --------->

    <!-- EMPIEZA SECCION DE VENTAJAS -->
    <div class="width-100 margin-top-50 feature-sect">
      <div class="container">
        <div class="width-20 featured-padding">
          <div class="featured-border">
            <div class="width-20 featured-content">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <div
              class="width-80 featured-content margin-top-8">
              <h4>Delivery Instantaneo</h4>
              <p>Para entregas dentro de Rosario</p>
            </div>
          </div>
        </div>
        <div class="width-20">
          <div class="featured-border">
            <div class="featured-bord">
              <div class="width-20 featured-content">
                <i class="fa fa-circle-o"
                  aria-hidden="true"></i>
              </div>
              <div
                class="width-80 featured-content margin-top-8">
                <h4>Soporte Online 24/7</h4>
                <p>Te acompañamos en todo momento! </p>
              </div>
            </div>
          </div>
        </div>
        <div class="width-20">
          <div class="featured-border">
            <div class="width-20 featured-content">
              <i class="fa fa-life-ring"
                aria-hidden="true"></i>
            </div>
            <div
              class="width-80 featured-content margin-top-8">
              <h4>Compra seguro</h4>
              <p>1 semana para devolver post compra!</p>
            </div>
          </div>
        </div>
        <div class="width-20">
          <div class="featured-border">
            <div class="width-20 featured-content">
              <i class="fa fa-gift" aria-hidden="true"></i>
            </div>
            <div
              class="width-80 featured-content margin-top-8">
              <h4>Descuentos por puntos</h4>
              <p>Acumula puntos y obten descuentos
                exclusivos!</p>
            </div>
          </div>
        </div>
        <div class="width-20">
          <div class="featured-border">
            <div class="width-20 featured-content">
              <i class="fa fa-credit-card"
                aria-hidden="true"></i>
            </div>
            <div
              class="width-80 featured-content margin-top-8">
              <h4>Todos los medios de pagos</h4>
              <p>Aceptamos todas las tarjetas!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---------- TERMINA SECCION DE VENTAJAS --------->

    <!-- EMPIEZA FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo">
            <img src="{% static 'img/logo_vale2.jpg' %}" class="logo-img" alt="[Logotipo]">
          </div>
          <div class="footer-links">
            <ul class="footer-menu">
              <li><a href="#">santiago.fernandez.utn@gmail.com</a></li><br><br>
              <li><a href="#">Libertad 1162</a></li><br><br>
              <li><a href="#">0336 4012 957</a></li><br><br>
            </ul>
          </div>
          <div class="footer-social">
            <ul class="social-icons">
              <li>
                <button type="button"
                  class="icon-button"
                  id="python-button" data-lang="python">
                  <ion-icon name="logo-facebook"></ion-icon></button>
              </li>
              <li>
                <button type="button"
                  class="icon-button"
                  id="python-button" data-lang="python">
                  <ion-icon name="logo-instagram"></ion-icon></button>
              </li>
              <li>
                <button type="button"
                  class="icon-button"
                  id="python-button" data-lang="python">
                  <ion-icon name="logo-whatsapp"></ion-icon></button>
              </li>
              <li><button type="button"
                  class="icon-button"
                  id="python-button" data-lang="python">
                  <ion-icon name="headset-outline"></ion-icon></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; Pagina desarrollada por santi</p>
        </div>
      </div>
    </footer>

    <script type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>