<html>
  <head>
    {% load static %}
    <title>MERCADO VILLA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />

    {% load humanize %}
  </head>
  <body>
    <div>Necesitas comprar algo en V.C?</div> 

    <svg viewBox="100 100 2520 300">

      <!-- Symbol -->
      <symbol id="s-text">
        <text text-anchor="middle"
              x="55%" y="40%" dy=".35em">
          MercadoVilla
        </text>
      </symbol>  
    
      <!-- Duplicate symbols -->
      <use xlink:href="#s-text" class="text"
           ></use>
      <use xlink:href="#s-text" class="text"
           ></use>
      <use xlink:href="#s-text" class="text"
           ></use>
      <use xlink:href="#s-text" class="text"
           ></use>
      <use xlink:href="#s-text" class="text"
           ></use>
    
    </svg>
    
    <script type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>