{% extends "home.html" %}
{% load humanize%}
{% block content %}
<div class = "publication-card">


    <div class="product-section">
        <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="{{ publication_product.imagen.url }}">
            </div>

            
        </div>
    </div>
<form action="{% url 'cart'%}" method="POST">
{% csrf_token %}

<div class = "publication-caract">
    <h1>{{publication_product.name_product | capfirst}}</h1>
    <br><br>
    <p class="product-name">
        <h2>${{publication_product.price | intcomma}}</h2>
    </p><br>
    <p class="product-name">
        <h2>Vendido por: <a href="#">{{ publication_product.user | capfirst }}</a></h2>
    </p><br>
    <h3>Descripcion de producto:</h3>
    <div class = "publication-descr">
    <p><br>
    <h3>{{publication_product.description}}</h3>
    </p>
</div>
    <input type="text" value="{{publication_product.pk}}" name="id" hidden>    
    <input type="number" name="qt" Placeholder="Cantidad" value=1 >
    <br><br><br>
    <button type="submit"class="icon-button"id="python-button" ><ion-icon name="bag-add-sharp"></ion-icon></button>
    <a href="{%url 'comunication' %}?item={{publication_product.pk}}"> <br><br>
    <button type="button"class="icon-button"id="python-button" data-lang="python">
    <ion-icon name="help-circle-sharp"></ion-icon></button></a>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>    
{% endif %}
</div></div>
</p>
</form>

{% endblock content%}