{%extends "home.html"%}
{% load humanize %}

{% comment %} aca empieza la seccion del usuario {% endcomment %}
{%block content%}
<div class="profile-card">
  
<div class="title"> <h1>Perfil de {{ user.username }} </h1></div>
  <div class="profile-description">
    
    <br><br><br><br>
    <div class="profile-picture"><img src="{{ user.avatar.url }}" 
      alt="imagen de perfil"  class="profile-image"></div>
    <br>
    <div class="div1"> <h3> Email: {{ user.email }} </h1> </div><br>
      <div class="div1"> <h3> Nombre: {{ user.first_name }} </h1> </div><br>
      <div class="div1"> <h3> Apellido: {{ user.last_name }}</div><br>
    <div class="div1"> <h3> Ultimo acceso: {{ user.last_login|date:"d-m-Y" }}
      </h1> </div><br>
    <div class="div1"> <h3> Rubro de interes: {{ user.business_line_interes }}
      </h1> </div>

    <br><br><br><br><br><br>
 
    {% comment %} TODO no carga ni la imagen ni tampoco los datos del user en el
    template {% endcomment %}
  </div>
</div>
{% comment %} aca TERMINA la seccion del usuario {% endcomment %}
<a href="{% url 'logout' %}"><button type="button"class="icon-button-user"id="python-button" data-lang="python">
  <ion-icon name="log-out-outline"></ion-icon>CERRAR SESION</button></a>

{%endblock content%}
