{%extends "home.html"%}
{% load humanize %}

{% comment %} aca empieza la seccion del usuario {% endcomment %}
{%block content%}
<div class = "">
  <div class="parent">
  
    <div class="div1"> <h1>HOLA {{ user.username }} </h1> </div>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% comment %} TODO no carga ni la imagen ni tampoco los datos del user en el template  {% endcomment %}
    </div>
</div>
{% comment %} aca TERMINA la seccion del usuario {% endcomment %}
{%endblock content%}
